<div class="contents_wrap">
  <div class="left_contents clearifx">
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% unless user_signed_in? %>
        <li><%= link_to "User Login", "users/sign_in" %></li>
        <li><%= link_to "Developer Login", "/developers/sign_in" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
  <div class="right_contents clearfix">
  <% if user_signed_in? %>
  <div class="each_rides">
    <p>My ride!!</p>
  </div>
  <div class="each_rides">
    <p>My ride!!</p>
  </div>
  <div class="each_rides">
    <p>My ride!!</p>
  </div>
    <div class="each_rides">
    <p>My ride!!</p>
  </div>
  <div class="each_rides">
    <p>My ride!!</p>
  </div>
  <div class="each_rides">
    <p>My ride!!</p>
  </div>
  <% end %>
  <div class="not_login_view">
    <p>Loginしていない状態。</p>
    <p>This is Noride Website.</p> 
  </div>
  </div>
</div>