<header id="header">
  <nav class="main_navigation">
  <p class="header_phrase">The way you ride is the way you live.</p>
  <h1><%= link_to "Noride", root_path %></h1>
<% if user_signed_in? %>
    <ul id="nav_self">
      <li class="each_nav"><%= link_to "About", root_path %></li>
      <li class="each_nav"><%= link_to "News", root_path %></li>
      <li class="each_nav"><%= link_to "Rides", root_path %></li>
      <li class="each_nav"><%= link_to "Develop", root_path %></li>
      <li class="each_nav"><%= link_to "Buy", root_path %></li>
      <li class="each_nav"><%= link_to "Contact", root_path %></li>
      <% else %>
    </ul>
  </nav>
</header>
<% end %>