<!DOCTYPE html>
<html>
<head>
  <title>Noride</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'common/header' %>

    <%= yield %>

  <footer id='footer'>
    <small>Noride 2016 Alrights Reserved.</small>
  </footer>
</body>
</html>
